.anjuta/
.anjuta_sym_db.db
Debug/
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
configure.ac~
depcomp
install-sh
intltool-extract.in
intltool-merge.in
intltool-update.in
ltmain.sh
missing
octetos_coreutils.anjuta
src/*~
*~
